snippet int
	setInterval(() => {
		${2}
	}, ${1});

snippet sto
	setTimeout(() => {
		${2}
	}, ${1});

snippet cc
	console.log('${1}');

# node snippets
snippet rq
	require('${1}');

snippet eyes
	const eyes = require('eyes').inspector({ pretty: true, maxLength: -1 });

snippet ey
	eyes({ ${1} });
