[character]
format = "[[>](dimmed white) λ ](bright-green)"
success_symbol = "green"

[hostname]
ssh_only = true
format = "[$hostname ](dimmed white)"

[directory]
style = "dimmed white"

[git_status]
style = "cyan"

[git_branch]
style = "purple"
format = "\\[[$symbol$branch]($style)\\] "

[package]
format = "\\[[$symbol$version]($style)\\] "

[rust]
symbol = ""
format = "\\[[$symbol $version]($style)\\] "

[golang]
symbol = ""
format = "\\[[$symbol $version]($style)\\] "

[lua]
symbol = ""
format = "\\[[$symbol $version]($style)\\] "
disabled = true

[nodejs]
symbol = ""
format = "\\[[$symbol $version](yellow)\\] "

[python]
symbol = ""
format = "\\[[${symbol} ${version}( \\($virtualenv\\))]($style)\\] "

[cmd_duration]
format = "\\[[祥$duration]($style)\\] "

[custom.shell_counter]
command = "source ~/dev/shell_recursive_counter.sh && shell_counter"
format = "\\[[[$symbol](bold grey) $output]($style)\\] "
when = "source ~/dev/shell_recursive_counter.sh && shell_counter"
shell = ["zsh", "-l"]
symbol = ""
style = "white"

[custom.pyenv]
command = "source ~/.zshrc && pyenv version 2>/dev/null | cut -c-5"
format = "\\[[[$symbol](bold blue) $output]($style)\\] "
when = "! [ -z $PYENV_ROOT ]"
shell = ["zsh", "-l"]
symbol = ""
style = "white"

[aws]
disabled = true

[gcloud]
disabled = true
